.editor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.editor-container {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: scroll;
  border: 1px solid #2a3b55;
  background: #081927;
}

.toolbar {
  position: absolute;
  display: flex;
  height: fit-content;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  flex-direction: row;
  gap: 6px;
}

.toolbar-left {
  padding: 10px 10px;
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: flex-start;
  gap: 6px;
}

.select-button {
  border: 1px solid var(--accent);
  border-radius: 5px;
}

.toolbar-right {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top: 10px;
  gap: 6px;
}

.button-snap,
.button-zoom-level {
  z-index: 10;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.12);
  color: white;
  padding: 6px 10px;
  cursor: default;
}

.button-zoom-level {
  top: 42px;
}

.floor-select {
  position: absolute;
  bottom: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column-reverse;

  align-items: stretch;
  gap: 6px;
  margin-left: 12px;
}

.floor-select select {
  background: rgba(255,255,255,0.08);
  color: white;
  border: 1px solid rgba(255,255,255,0.12);
  padding: 6px 8px;
  cursor: pointer;
}

.floor-button {
  /* background: rgba(255,255,255,0.08); */
  border: 1px solid var(--accent);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor-input {
  min-width: 10px;
  width: fit-content;
  field-sizing: content;
}

.room-name-input {
  z-index: 8;
  max-width: 100%;
  text-align: center;
  min-width: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}

.room-name-input:focus {
  background: inherit;
  border: none;
}